<div class="cardAssert">
  <h2 class="card-assert-text">{{ title }}</h2>
  <img
    [attr.alt]="image_alt"
    [attr.src]="image_src"
    class="card-assert-image"
  />
  <span class="card-assert-text1">{{ text }}</span>
  <div class="card-assert-container1">
    <button class="card-assert-button button">
      <svg viewBox="0 0 1024 1024" class="card-assert-icon">
        <path
          d="M884 300l-78 78-160-160 78-78q12-12 30-12t30 12l100 100q12 12 12 30t-12 30zM128 736l472-472 160 160-472 472h-160v-160z"
        ></path>
      </svg>
    </button>
    <button class="card-assert-button1 button">
      <svg viewBox="0 0 1024 1024" class="card-assert-icon2">
        <path
          d="M810 170v86h-596v-86h148l44-42h212l44 42h148zM256 810v-512h512v512q0 34-26 60t-60 26h-340q-34 0-60-26t-26-60z"
        ></path>
      </svg>
    </button>
  </div>
</div>
