:host { 
  display: contents; 
}
.navbar-clin-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-clin-container {
  width: 100%;
  height: 100%;
  display: flow-root;
  align-items: center;
  justify-content: space-between;
}
.navbar-clin-image {
  width: 211px;
  height: 136px;
  text-decoration: none;
}
